@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Computer Science study app</p> <br />
    <p style="font-size:24px">Please navigate to Problems tab to view the list of practice problems</p>
    <p style="font-size:24px">Please navigate to Search tab to search for specific practice problems</p>
</div>
